@import 'mixins.scss';


.article-list {
    @include display-flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;

    article, .article {
        @include font-default;

        header {
            height: 60px;

            .bar-item:nth-child(2) {
                line-height: 1rem;

                p {
                    font-weight: 600;
                    font-size: 14px;
                }

                i {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }

        &> section:nth-child(2) {
            background-color: lightgray;
            background-size: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 468px;
        }

        &> section:nth-child(3) {
            height: 60px;
        }

        &> section:nth-child(4) {
            min-height: 60px;
            box-sizing: border-box;
            padding-left: 1rem;

            ul {
                list-style: none;

                li:nth-child(1) {
                    margin-bottom: 0.5rem;
                }

                li {
                    margin-top: 0.5rem;

                    span:nth-child(1) {
                        font-weight: 600;
                        box-sizing: border-box;
                        padding-right: 0.5rem;
                    }

                    span:nth-child(2) {
                        font-weight: 400;
                    }
                }
            }
        }

        &> section:nth-child(3), header {
            @include display-flex;
            flex-direction: row;

            &> section {
                flex: 1;
                @include display-flex;
                flex-direction: row;

                .bar-item {
                    min-width: 72px;

                    @include display-flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    font-size: 14px;
                }
            }

            &> section:nth-child(1) {
                flex: none;
                width: 60%;
            }

            &> section:nth-child(2) {
                justify-content: flex-end;
            }
        }
    }
}
