@import 'material-icons.scss';
@import 'bar-head.scss';
@import 'bar-bottom.scss';
@import 'app.scss';
@import 'article-list.scss';
@import 'image-list.scss';
@import 'activity-list.scss';
@import 'account.scss';
@import 'circle.scss';
@import 'square.scss';
@import 'inputs.scss';
@import 'view-register.scss';
@import 'view-settings.scss';
@import 'view-search.scss';


* { margin: 0; padding: 0; }

.push-down {
    margin-top: 1rem;
}

.push-up {
    margin-bottom: 1rem;
}
