.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.bar-head {
  width: 100%;
  height: 44px;
  background-color: white;
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row; }
  .bar-head section {
    flex: 1;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    color: black; }
    .bar-head section h1 {
      font-size: 16px;
      font-weight: 600; }
    .bar-head section a {
      text-decoration: none;
      color: black; }
  .bar-head[data-feed] section:nth-child(1), .bar-head[data-profile] section:nth-child(1) {
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 1.4rem; }
  .bar-head[data-feed] section:nth-child(3), .bar-head[data-profile] section:nth-child(3) {
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 1.4rem; }

.bar-bottom {
  width: 100%;
  height: 44px;
  background-color: white;
  z-index: 90;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: lightgray;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row; }
  .bar-bottom section {
    flex: 1;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center; }
    .bar-bottom section h1 {
      font-size: 16px;
      font-weight: 600; }
    .bar-bottom section a {
      text-decoration: none;
      color: black; }
  .bar-bottom[data-feed] section:nth-child(1) {
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 1.4rem; }
  .bar-bottom[data-feed] section:nth-child(3) {
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 1.4rem; }

.app {
  margin-top: 44px;
  margin-bottom: 44px; }

.article-list {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  max-width: 1024px;
  margin: auto; }
  .article-list article, .article-list .article {
    font-family: 'Lato', sans-serif; }
    .article-list article header, .article-list .article header {
      height: 60px; }
      .article-list article header .bar-item:nth-child(2), .article-list .article header .bar-item:nth-child(2) {
        line-height: 1rem; }
        .article-list article header .bar-item:nth-child(2) p, .article-list .article header .bar-item:nth-child(2) p {
          font-weight: 600;
          font-size: 14px; }
        .article-list article header .bar-item:nth-child(2) i, .article-list .article header .bar-item:nth-child(2) i {
          font-weight: 400;
          font-size: 12px; }
    .article-list article > section:nth-child(2), .article-list .article > section:nth-child(2) {
      background-color: lightgray;
      background-size: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 468px; }
    .article-list article > section:nth-child(3), .article-list .article > section:nth-child(3) {
      height: 60px; }
    .article-list article > section:nth-child(4), .article-list .article > section:nth-child(4) {
      min-height: 60px;
      box-sizing: border-box;
      padding-left: 1rem; }
      .article-list article > section:nth-child(4) ul, .article-list .article > section:nth-child(4) ul {
        list-style: none; }
        .article-list article > section:nth-child(4) ul li:nth-child(1), .article-list .article > section:nth-child(4) ul li:nth-child(1) {
          margin-bottom: 0.5rem; }
        .article-list article > section:nth-child(4) ul li, .article-list .article > section:nth-child(4) ul li {
          margin-top: 0.5rem; }
          .article-list article > section:nth-child(4) ul li span:nth-child(1), .article-list .article > section:nth-child(4) ul li span:nth-child(1) {
            font-weight: 600;
            box-sizing: border-box;
            padding-right: 0.5rem; }
          .article-list article > section:nth-child(4) ul li span:nth-child(2), .article-list .article > section:nth-child(4) ul li span:nth-child(2) {
            font-weight: 400; }
      .article-list article > section:nth-child(4) .new-comment, .article-list .article > section:nth-child(4) .new-comment {
        display: none; }
        .article-list article > section:nth-child(4) .new-comment[data-active], .article-list .article > section:nth-child(4) .new-comment[data-active] {
          display: -webkit-box;
          /* OLD - iOS 6-, Safari 3.1-6, BB7 */
          display: -ms-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-flex;
          /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
          display: flex;
          /* NEW, Spec - Firefox, Chrome, Opera */
          flex-direction: row;
          height: 48px; }
        .article-list article > section:nth-child(4) .new-comment input[type='text'], .article-list .article > section:nth-child(4) .new-comment input[type='text'] {
          width: 80%;
          font-family: 'Lato', sans-serif;
          font-size: 100%;
          border: none;
          outline: none;
          background: none; }
        .article-list article > section:nth-child(4) .new-comment button, .article-list .article > section:nth-child(4) .new-comment button {
          flex: 1;
          font-family: 'Lato', sans-serif;
          font-size: 100%;
          border: none;
          outline: none;
          background: none; }
    .article-list article > section:nth-child(3), .article-list article header, .article-list .article > section:nth-child(3), .article-list .article header {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      flex-direction: row; }
      .article-list article > section:nth-child(3) > section, .article-list article header > section, .article-list .article > section:nth-child(3) > section, .article-list .article header > section {
        flex: 1;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        flex-direction: row; }
        .article-list article > section:nth-child(3) > section .bar-item, .article-list article header > section .bar-item, .article-list .article > section:nth-child(3) > section .bar-item, .article-list .article header > section .bar-item {
          min-width: 72px;
          display: -webkit-box;
          /* OLD - iOS 6-, Safari 3.1-6, BB7 */
          display: -ms-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-flex;
          /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
          display: flex;
          /* NEW, Spec - Firefox, Chrome, Opera */
          justify-content: center;
          align-items: center;
          height: 100%;
          font-size: 14px; }
      .article-list article > section:nth-child(3) > section:nth-child(1), .article-list article header > section:nth-child(1), .article-list .article > section:nth-child(3) > section:nth-child(1), .article-list .article header > section:nth-child(1) {
        flex: none;
        width: 60%; }
      .article-list article > section:nth-child(3) > section:nth-child(2), .article-list article header > section:nth-child(2), .article-list .article > section:nth-child(3) > section:nth-child(2), .article-list .article header > section:nth-child(2) {
        justify-content: flex-end; }

.image-list {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  flex-wrap: wrap; }
  .image-list .image-list-item {
    width: 123px;
    height: 123px;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.activity-list .activity-list-item {
  height: 65px;
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
  font-family: 'Lato', sans-serif;
  background-color: white; }
  .activity-list .activity-list-item section {
    flex: 1;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center; }
    .activity-list .activity-list-item section .circle {
      width: 34px;
      height: 34px;
      border-radius: 34px; }
    .activity-list .activity-list-item section .square {
      width: 40px;
      height: 40px; }
  .activity-list .activity-list-item section:nth-child(2) {
    width: 64%;
    flex: none;
    font-weight: 400;
    font-size: 14px; }
    .activity-list .activity-list-item section:nth-child(2) b {
      margin-right: 0.5rem;
      font-weight: 600; }
    .activity-list .activity-list-item section:nth-child(2) .timestamp {
      margin-left: 0.5rem;
      color: #505050; }

.account-article {
  background-color: white; }
  .account-article header {
    height: 160px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    border-bottom: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px; }
    .account-article header > section {
      flex: 1; }
    .account-article header > section:nth-child(1) {
      flex: none;
      height: 60%;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      flex-direction: row; }
      .account-article header > section:nth-child(1) > section:nth-child(1) {
        width: 30%;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: center;
        align-items: center; }
        .account-article header > section:nth-child(1) > section:nth-child(1) .circle {
          width: 77px;
          height: 77px;
          border-radius: 77px; }
      .account-article header > section:nth-child(1) > section:nth-child(2) {
        flex: 1;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        flex-direction: column; }
        .account-article header > section:nth-child(1) > section:nth-child(2) > section {
          flex: 1; }
          .account-article header > section:nth-child(1) > section:nth-child(2) > section, .account-article header > section:nth-child(1) > section:nth-child(2) > section form {
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;
            /* NEW, Spec - Firefox, Chrome, Opera */
            align-items: center; }
          .account-article header > section:nth-child(1) > section:nth-child(2) > section input[type='submit'] {
            min-width: 170px;
            margin-right: 1rem;
            vertical-align: middle; }
        .account-article header > section:nth-child(1) > section:nth-child(2) > section:nth-child(1) {
          font-size: 22px; }
        .account-article header > section:nth-child(1) > section:nth-child(2) > section:nth-child(2) {
          align-items: baseline; }
    .account-article header > section:nth-child(2) {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      justify-content: center;
      align-items: center; }
  .account-article > section:nth-child(2) {
    font-family: 'Lato', sans-serif;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    height: 64px; }
    .account-article > section:nth-child(2) > section {
      flex: 1;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: lightgray; }
      .account-article > section:nth-child(2) > section p {
        font-weight: 600; }
      .account-article > section:nth-child(2) > section i {
        font-weight: 400;
        text-transform: none;
        text-decoration: none;
        font-style: normal;
        color: #505050; }

.circle {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: black;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.square {
  width: 30px;
  height: 30px;
  background-color: black;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.input-text {
  outline: none;
  border: none;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  background-color: #fafafa;
  box-sizing: border-box;
  padding-left: 0.5rem;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #efefef; }

.btn {
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  border: none;
  outline: none;
  background: none;
  background-color: #fafafa;
  color: black;
  text-align: center;
  font-size: 100%;
  height: 26px;
  line-height: 26px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  border-radius: 4px; }
  .btn.btn-primary {
    background-color: #3897f0;
    color: white; }

form dt {
  margin-bottom: 0.4rem; }
form dd {
  margin-bottom: 1rem; }

.view-register {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem; }
  .view-register header {
    text-align: center; }
    .view-register header p {
      font-weight: 600;
      color: #505050; }
  .view-register form .input-text {
    width: 100%; }
  .view-register form .btn-primary {
    width: 100%; }

* {
  margin: 0;
  padding: 0; }

.push-down {
  margin-top: 1rem; }

.push-up {
  margin-bottom: 1rem; }

/*# sourceMappingURL=style.css.map */
