@import 'mixins.scss';
@import 'variables.scss';


.view-register, .view-login, .view-account-edit, .view-article-edit {
    min-height: 100vh;
    @include font-default;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    header {
        text-align: center;

        p {
            font-weight: 600;
            color: $color_text_light;
        }
    }

    &.view-account-edit {
        header {
            width: 100%;
            @include display-flex;
            align-items: center;
            justify-content: center;

            .circle {
                width: 38px;
                height: 38px;
                border-radius: 38px;
            }
        }
    }

    form {
        .input-text {
            width: 100%;
        }

        .btn-primary {
            width: 100%;
        }
    }
}
