<article id='article-{{ article.id }}' data-id='{{ article.id }}'>
    <header>
        <section>
            <div class='bar-item'>
                <span class='circle'></span>
            </div>
            <div class='bar-item'>
                <span>
                    <p>{{ article.user.name }}</p>
                    <i>Gothenburg</i>
                </span>
            </div>
        </section>
        <section>
            <div class='bar-item'>
                <span class='material-icons btn-more'>more_horiz</span>
            </div>
        </section>
    </header>
    <section style='background-image: url("/uploads/{{ article.media.filename }}");'>
    </section> <!-- image section -->
    <section>
        <section>
            <div class='bar-item'>
                <span class='material-icons btn-like'>thumb_up</span>
                <span class='bar-item-indicator info-likes'>{{ article.likers | length }}</span>
            </div>
            <div class='bar-item'>
                <span class='material-icons btn-comment'>comment</span>
            </div>
        </section>
        <section></section>
    </section> <!-- like bar section -->
    <section>
        <ul>
            <li><span>{{ article.user.name }}</span><span>{{ article.content }}</span></li>
        </ul>
        <ul class='article-comments'>
            {% for comment in article.comments %}
                <li><span>{{ comment.user.name }}</span><span>{{ comment.content }}</span></li>
            {% endfor %}
        </ul>
        <div class='new-comment'>
            <input type='text' placeholder='Add a comment...'/>
            <button class='btn-comment-publish'>Publish</button>
        </div>
    </section> <!-- comments section -->
</article>
<script type='text/javascript'>new Article(document.getElementById('article-{{ article.id }}'));</script>
