{% extends 'app_layout.html' %}


{% block bar_head_type %}profile{% endblock %}

{% block bar_head %}
    <section><a class='material-icons' href='/settings'>settings</a></section>
    <section><h1>Profile</h1></section>
    <section><a class='material-icons'>person_add</a></section>
{% endblock %}

{% block app %}
    <article class='account-article'>
        <header>
            <section>
                <section>
                    <span class='circle'></span>
                </section>
                <section>
                    <section>AccountName</section>
                    <section>
                        <form method='POST'>
                            <input type='submit' name='follow' value='Follow'/>
                            <button class='btn-more'><i class='material-icons'>arrow_drop_down</i></button>
                        </form>
                    </section>
                </section>
            </section>
            <section>
                <p>Lorem ipsum dolum ipa, this is my description<br/>
                <a href='https://google.com/'>https://wow-a-link.com/</a>
                </p>
            </section>
        </header>
        <section>
            <section>
                <p>1565</p>
                <i>Posts</i>
            </section>
            <section>
                <p>1565</p>
                <i>Posts</i>
            </section>
            <section>
                <p>1565</p>
                <i>Posts</i>
            </section>
        </section>
        <section class='image-list'>
            {% for i in range(0, 24) %}
                <div class='image-list-item' style='background-image: url("https://source.unsplash.com/random?r={{ i }}");'></div>
            {% endfor %}
        </section>
    </article>
    <script type='text/javascript'>new Account(document.querySelector('.account-article'));</script>
{% endblock %}
