{% extends 'app_layout.html' %}


{% block app %}
    <article class='account-article'>
        <header>
            <section>
                <section>
                    <span class='circle'></span>
                </section>
                <section>
                    <section>AccountName</section>
                    <section>
                        <button>follow</button><button><i class='material-icons'>arrow_drop_down</i></button>
                    </section>
                </section>
            </section>
            <section>
                <p>Lorem ipsum dolum ipa, this is my description<br/>
                <a href='https://google.com/'>https://wow-a-link.com/</a>
                </p>
            </section>
        </header>
    </article>
{% endblock %}
