{% extends 'app_layout.html' %}


{% block bar_head_type %}profile{% endblock %}

{% block bar_head %}
    <section><a class='material-icons' href='/settings'>settings</a></section>
    <section><h1>Profile</h1></section>
    <section><a class='material-icons'>person_add</a></section>
{% endblock %}

{% block app %}
    <article class='account-article'>
        <header>
            <section>
                <section>
                    <span class='circle' style='background-image: url({% if user.avatar %}"/uploads/{{ user.avatar.filename }}"{% else %}"/static/image/avatar.png"{% endif %});'></span>
                </section>
                <section>
                    <section>{{ user.name }}</section>
                    <section>
                        <form method='POST'>
                            {% if current_user != user %}
                                <input class='btn btn-primary' type='submit' name='follow' value='Follow'/>
                            {% endif %}
                            <button class='btn btn-primary btn-more'><i class='material-icons'>arrow_drop_down</i></button>
                        </form>
                    </section>
                </section>
            </section>
            <section>
                <p>{{ user.bio }}{% if user.website %}<br/><a href='{{ user.website }}'>{{ user.website }}</a>{% endif %}</p>
            </section>
        </header>
        <section>
            <section>
                <p>1565</p>
                <i>Posts</i>
            </section>
            <section>
                <p>1565</p>
                <i>Posts</i>
            </section>
            <section>
                <p>1565</p>
                <i>Posts</i>
            </section>
        </section>
        <section class='image-list'>
            {% for article in articles %}
                <div class='image-list-item' style='background-image: url("/uploads/{{ article.media.filename }}");'></div>
            {% endfor %}
        </section>
    </article>
    <script type='text/javascript'>new Account(document.querySelector('.account-article'));</script>
{% endblock %}
