{% extends 'layout.html' %}

{% from '_formhelpers.html' import render_field %}


{% block body %}
    <div class='view-register'>
        <form method='POST'>
            <header>
                <h1>iinsta</h1>
                <p class='push-down'>Register if you want to see photos and videos from your friends</p>
            </header>
            <hr class='push-down push-up'/>
            {{ render_field(form.name) }}
            {{ render_field(form.firstname) }}
            {{ render_field(form.lastname) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            <input type='submit' class='btn btn-primary' value='Join'/>
            
            {% include 'components/errors.html' %}
        </form>
    </div>
{% endblock %}
